<nav class="navbar">
  <a class="brand" href="/">Fafo</a>
  <ul>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/register">Register</a>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/logout">Logout</a>
  </ul>
      
</nav>